@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Playfair+Display:wght@700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-gold: #D4AF37;
  --color-brand-gold-light: #F9E2AF;
  --color-brand-gold-dark: #996515;

  --color-brand-charcoal: #1A1A1A;
  --color-brand-linen: #FAF9F6;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  background-color: var(--color-brand-linen);
  color: var(--color-brand-charcoal);
  font-family: var(--font-sans);
}

body {
  margin: 0;
  overflow-x: hidden;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  .font-serif {
    font-family: var(--font-serif);
  }
}